body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Fuente moderna y limpia */
    background-color: #F9FAFB;
    color: #333333;
}
section {
    padding: 5px;
    margin-top: 15px; /* Para evitar que la barra de navegación tape el contenido */
}

/* Estilo para el título del libro */
#home {
    text-align: center;
    margin-bottom: 30px;
}

.book_title {
    font-size: 40px; /* Tamaño de fuente grande para el título */
    font-weight: 700; /* Negrita */
    color: #2C98F0; /* Un azul brillante */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

/* Estilo de la barra de navegación */
.navbar {
    background-color: #2C98F0; /* Azul brillante */
    padding: 15px 0; /* Espaciado vertical */
    text-align: center; /* Centra los enlaces */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
    position: sticky;
    top: 0;
    z-index: 100; /* Mantiene la barra por encima de otros elementos */
}

.navbar a {
    color: #FFFFFF; /* Blanco para los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 18px; /* Tamaño de fuente cómodo */
    font-weight: 500; /* Peso de fuente moderado */
    padding: 12px 20px; /* Espaciado alrededor de los enlaces */
    margin: 0 15px; /* Espaciado entre los enlaces */
    display: inline-block; /* Alinea los enlaces horizontalmente */
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efecto suave para hover y click */
}
.navbar a:hover {
    background-color: #F9A826; /* Color dorado para el hover */
    color: #FFFFFF; /* Mantiene el texto blanco */
    transform: scale(1.05); /* Ligeramente aumenta el tamaño del enlace */
}
.navbar a:active {
    background-color: #FF5722; /* Rojo-anaranjado para el click */
    transform: scale(0.95); /* Hace el enlace un poco más pequeño al hacer click */
}
.navbar a:focus {
    outline: none; /* Elimina el borde de enfoque */
}

.navbar a:active {
    background-color: #FF5722; /* Rojo-anaranjado */
}

/* Clearfix para el contenedor de los elementos flotantes */
.clearfix {
    clear: both;
}

.all_chapters{
    display: flex;
    flex-direction: row;
    flex-flow: row;
}
.chapter{
    border: 1cm;
}